@import 'settings';

@mixin theDivs($divwidth,$divBorder){
    height: 95vh;
    position: relative;
    width: $divwidth;
    border: $divBorder;
}

@mixin styleMyimg($imageNr,$width,$top,$left){
    #{"img:nth-child("$imageNr")"}{
        
    }

}


@mixin theParagraph($pNr, $top, $fontS, $fontColor){
    #{$pNr}{
    position: absolute;
    left: 50%; 
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(-50%, 1rem);
    top: $top;
    font-size: $fontS;
    color: $fontColor;
    }
}


@mixin styler(){
    .mont-container{
        background-image:   linear-gradient(to right bottom,
        rgba(126, 213, 111, 0.8),
        rgba(40, 180, 133, 0.8)),url(../img/hero.jpg);
        background-size: cover;
        background-position: top;
        clip-path: polygon(0 100%, 0 0, 100% 22vh, 100% 100%);
        position: relative;  
        >h1{}
    }
}

@mixin floatDiv($divWidth,$divBorder) {
    float: left;
    height: 70vh;
    width: $divWidth;
    border: $divBorder;
}
@mixin imageStyler($imageNum,$width,$top,$left) {
    #{"img:nth-child("$imageNum")"}{
        width: $width;
        position: absolute;
        top: $top;
        left: $left;
        outline: 2rem solid green;
    }
}
@mixin styler() {
    .container{
        border: 3px solid red ;
        height: 70vh;
        .imagsContainer{
            position: relative;
            @include floatDiv(70%,3px solid black );
            @include imageStyler(1,35rem,10rem,10rem);
            @include imageStyler(2,40rem,20rem,20rem);
            @include imageStyler(3,20rem,10rem,30rem);
        }
        .textContainer{
            @include floatDiv(30%, 3px solid black)
        }
    }
}
@include styler();