html{
    font-size: 62.5%;
}
@font-face{
    font-family: "test";
    src:url('../fonts/afta-serif/AftaSerifThin-Regular.otf');
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    /* word-spacing: 2px; */
    letter-spacing: 1.4px;
    font-family: "test";
}
.container{
    width:100%;
    animation-name: opacity;
    animation-duration: 5s;
    overflow: hidden;
    position: fixed;
    /* 16:9 */
	/* padding-bottom: 56.25%; */
	padding-top: 0px;
    /* height: 0; */
    padding-bottom:0;
    height:133%;
    z-index: -2;
    /* background-color: red; */
    top:0;
    left:0;

}
@keyframes showImage{
     from{opacity:1;}
     to{opacity:0;}
}
body{
    margin:0;
    padding:0;
}

@keyframes opacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
video{
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;

}
/* iframe {
    pointer-events: none;
    overflow: hidden;
	position: fixed;
	top: -55px;
	left: 0;
	width: 100%;
    height: 133%;
    z-index: -1;
} */
 .transparent{
     position: relative;
    width:100%;
    height: 10vh;
    z-index:0;
    opacity:1;
    background-color: rgba(128, 128, 128, 0);
    margin-top:180px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 5rem;
    font-weight: bolder;
}
.transparent span{
    font-family: "test";
    padding-left:5px;
    padding-right:5px;
}
.hide1{
    animation-name: showme1;
    transform: translate(-55%,-85%);
    position: absolute;
    opacity: 0;
    animation-duration: 8s;
    animation-iteration-count: infinite;

}
.hide2{
    animation-name:showme2;
    transform: translate(-55%,-85%);
    position: absolute;
    opacity: 0;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
.hide3{
    animation-name:showme3;
    transform: translate(-55%,-85%);
    position: absolute;
    opacity: 0;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
.hide4{
    animation-name:showme4;
    transform: translate(-55%,-85%);
    position: absolute;
    opacity: 0;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
.hideHolder{
    font-family: "test";
    position: relative;
    width:200px;
    display:inline-block;
    text-align: center;
    padding:0;
    margin:0;
}
@keyframes showme1{
    0% {
    opacity: 0;
    transform: translate(-55%,-200%);
    }
    6% {
    opacity: 1;
    transform: translate(-55%,-55%);
    }
    7% {
    opacity: 1;
    transform: translate(-55%,-85%);
    }
    26% {
        opacity: 1;
        transform: translate(-55%,-85%);
        }
    27%{
    opacity:0;
    transform: translate(-55%,0%);
    }

    100%{
    opacity:0;
    transform: translate(-55%,0%);
    }
  }
  @keyframes showme2{
    0% {
    opacity: 0;
    transform: translate(-55%,-200%);
    }
    25% {
    opacity: 0;
    transform: translate(-55%,-200%);
      }

    31% {
    opacity: 1;
    transform: translate(-55%,-55%);
    }
   32% {
    opacity: 1;
    transform: translate(-55%,-85%);
    }

    51%{
    opacity: 1;
    transform: translate(-55%,-85%);
    }
    52% {
        opacity: 0;
        transform: translate(-55%,0%);
        }
        100%{

        opacity: 0;
        transform: translate(-55%,0%);
        }

  }
  @keyframes showme3{
    0% {
    opacity: 0;
    transform: translate(-55%,-200%);
    }
    50% {
    opacity: 0;
    transform: translate(-55%,-200%);
      }

    56% {
    opacity: 1;
    transform: translate(-55%,-55%);
    }
   57% {
    opacity: 1;
    transform: translate(-55%,-85%);
    }

    76%{
    opacity: 1;
    transform: translate(-55%,-85%);
    }
    77% {
        opacity: 0;
        transform: translate(-55%,0%);
        }
        100%{

        opacity: 0;
        transform: translate(-55%,0%);
        }

  }
  @keyframes showme4{
    0%{

        opacity: 0;
        transform: translate(-55%,-85%);
    }
    1%{
    opacity: 1;
    transform: translate(-55%,-85%);
}
        2%{

        opacity: 0;
        transform: translate(-55%,0%);
        }
    2% {
    opacity: 0;
    transform: translate(-55%,0%);
    }
    75% {
    opacity: 0;
    transform: translate(-55%,-200%);
      }

    81% {
    opacity: 1;
    transform: translate(-55%,-55%);
    }
   82% {
    opacity: 1;
    transform: translate(-55%,-85%);
    }

    100%{
    opacity: 1;
    transform: translate(-55%,-85%);
    }


  }
.mainPage{
    width:100%;
    height: 800vh;
    background-color: rgb(230, 230, 230);
    z-index:1;
    background-color: rgba(131, 127, 127);
}
.topBar{
    height: 100px;
    width:100%;
    background-color: rgb(180, 180, 180);
    position: fixed;
    top:0px;
    left:0;
    display:flex;
    justify-content: space-between;
    z-index: 1;
}
.logo{
    font-family: fantasy;
    padding-left: 5%;
    font-size: 6rem;
    font-weight: bold;
    padding-top:2vh;
}

.infos{
    display:flex;
    flex-direction: column;
    width:50%;
}

.tel{
    height: 50%;
    display:flex;
    justify-content: flex-end;
    padding-top:2%;
    padding-right: 2%;
}
.tel i{
    font-size: 2rem;
    padding: 20%;
    opacity: .5;
}
.tel i:hover{
    color:red;
}
.tel button{
    margin-left:2%;
    margin-right: 2%;
    padding-left:1%;
    padding-right: 1%;
}
.number{
    margin-left:2%;
    padding: 1%;
    font-size: 1.6rem;
}
.menuBar{
    height:50%;
    display:flex;
    justify-content: space-evenly;
    padding-top: 3%;
    font-size: 1.4rem;
}
.menuBar a{
    text-decoration: none;
    color:black;
    vertical-align: middle;
}

.dropdown{
    position: relative;
    transition: background-color .5s;
}
.dropdown2>a{
    text-decoration: none;
    color:black;
    padding-top: 5%;
    padding-bottom: 5%;
    opacity: 1
}
.dropdown2{
    height: 0px;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    width:300%;
    padding-left:2%;
    overflow: hidden;
    transition: height .4s;  
}
.dropdown:hover>.dropdown2{
    height: 280px;

}

.dropdown:hover{
    background-color: white;
}

.buttonHolder{
    display:flex;
    justify-content: center;
    width:100%;
    height:60px;
    margin-bottom:40vh;
    margin-top:4vh;
}
.buttonHolder>div:hover{
    background-color:rgba(255, 255, 255, 0.2);
    border:1px solid white;
    color:white;

}
.ButtonLeft,.ButtonRight{
    width:250px;
    font-family: "test";
    font-weight: bold;
    margin-left:15px;
    margin-right:15px;
    background-color: rgb(180, 180, 180);
    color:rgb(80, 80, 80);

    font-size: 1.5rem;
    text-align:center;
    padding-top:20px;
    padding-bottom: 20px;
}
.threeDivs{
    width:100%;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
 }
 .threeDivs>a{
    width:200px;
    height: 100%;
    margin-left: 2px;
    padding-left:2%;
    padding-right: 2%;
    text-align: center;
    text-decoration: none;
    font-size:2rem;
    font-family: "test";
    color:white;
    background-color:rgba(255, 255, 255, 0.2);
 }
 .threeDivs>a:hover{
    background-color:rgba(255, 255, 255, 0.5);
 }
 .threeDivs>a>img {
   opacity: 1;
   margin: 15%;
   width: 30%;
 }
/* to define a side bar menu for mobiles*/
div.sidebarmenu{
    position: absolute;
    background-color: rgb(180, 180, 180);
    top:0;
    left:-90%;
    width:300px;
    height: 100vh;
    padding-top:100px;
    padding-left:5%;
    z-index:2;
    opacity: 1;
    transition:left 1s;
}

.sidebarmenu>ul{
    font-size:1.6rem;
    font-weight: bold;
    list-style-type:none;  
}
.sidebarmenu>ul ul{
    font-size:1.2rem;
    font-weight: bold;
    list-style-type:none; 
    padding-left:60px;
}
.sidebarmenu li{
    padding-top:30px;
}
.sidebarmenu>ul>li>ul>li>a{
    color:rgb(80, 80, 80);
}
.sidebarmenu a{
    text-decoration:none;
    color:black;

}
.menuOpen,.menuClose{
    position:absolute;
    top:40px;
    left:30px;
    width:50px;
    height:50px;
    z-index:-1;
    display: none;
}


.menuClose a{
    text-decoration: none;
    color:white;
    font-size: 3rem;
    font-weight: bold;
}
.menuOpen span{
    display:inline-block;
    /* background-color: rgb(80,80,80); */
    background-color: white;
    height: 3px;
    margin-top: 4px;
    width: 25px;
} 


#close:target ~ .sidebarmenu {
    left:-320px;

}
#close:target ~ .menuOpen{
    display:block;
}
#close:target ~ .menuClose{
    display:none;
} 
#open:target ~ .sidebarmenu {
    left:0;

}
#open:target ~ .menuOpen{
    display:none;
}
#open:target ~ .menuClose{
    display:block;
} 




@media only screen and (max-width: 1100px) {
    .hideHolder{
        width:160px;
    }
    .transparent{
        font-size: 4rem;
    }
} 

@media only screen and (max-width: 800px) {
    .hideHolder{
        width:130px;
    }
    .transparent{
        font-size: 3rem;
    }
} 

@media only screen and (max-width: 700px) {
    .hideHolder{
        width:120px;
    }
    .transparent{
        font-size: 2.5rem;
    }
} 
@media only screen and ( min-width:650px){
    .sidebarmenu{
        display: none;
    }
}
@media only screen and (max-width: 650px) {
    /* .hideHolder{
        width:120px;
    }
    .transparent{
        font-size: 2.5rem;
    } */
    .topBar{
        display:none;
    }
    .menuOpen,.menuClose{
        z-index:3;
    }
    .menuClose{
        display:none;
    }
    .menuOpen{
        display: block;
    }
    
} 
#ulHide:target~.sidebarmenu>ul>li>ul {
    display:inline-block;    
}
#ulHide:target~.sidebarmenu{
    display: block;
    left:0;
}
#ulHide:target~.menuClose{
    display:block;
}
#ulHide:target~.menuOpen{
    display:none;
}
#ulHide~.sidebarmenu>ul>li>ul{
display:none;
}
#open,#close,#ulHide{
    position: absolute;
    display:none;
    top:0;
    left:0;
}